ETL with Spark (Local) connect with S3

In [ ]:

from pyspark import SparkConf
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum
from pyspark.sql.types import IntegerType, FloatType

In [ ]:
AWS_ACCESS_KEY_ID = "ASIAZIOCTQSURF24Z7OE"
AWS_SECRET_ACCESS_KEY = "Qvci92wpZxgONnzo9GjH9Y+dxtGGLIHU0HEjqioB"
AWS_SESSION_TOKEN = "FwoGZXIvYXdzEBoaDEU2kS8E3CuoQAXJriLNAWrPraQLKZ1hf8i+PHVCG9Wwjlk7xtmM04AIDfX8AF+XG90m6bDkNJHuvjbC7cAoD6kZ29JCBLy+0v19Wtk2eoPFP+TwVBRKI2RCKJky9k4rSc1dzFaMUyFiY+3DBhxRTyQncXmz1Bk8/pjEf9oMdqknfLoqFhrTXphRoA/GPweT/sSof5zS2ZsCNgsrr/QSiZGwlcxdDNU1E67IC1RN/2DEI19tnJcRuLok309LS6eLGBLmR59gYSMWsyC/wVKt+5B3YW0D8GwEVxs/R8kojpj7nAYyLRZJx6R3yjYtUpc7nvhEQZnkJ38MfpRksnxYMrVMMzwaeoxsFHn7MryJ1/bTGw=="